*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    background: url("../img/bg.png") no-repeat;
    background-size: cover;
    cursor: url("../img/paw.png") 0 0, default;
}

body {
    font-family: 'Amatic SC', cursive;
    color: black;
}

/* Класс, который прячет меню и игру, при необходимости. Добавляется и убирается ч-з js (так проще) */
.hidden {
    transform: translateY(-100vh);
}

/* Main menu page */
.menu {
    padding: 50px 0 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background: url("../img/bg.png") no-repeat;
    background-size: cover;

    transition: transform .7s linear;
}

.menu__title {
    text-align: center;
    font-size: 150px;
    line-height: 1;
    color: inherit;
}

.menu__cats {
    width: 70%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__cat {
    display: block;
    width: 350px;
    height: 350px;
    transition: transform 1s linear;
}

.start-btn {
    margin: 0 auto;
    padding: 7px 40px;
    display: block;

    font-family: inherit;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 3px;

    border: 3px solid black;
    border-radius: 5px;
    cursor: inherit;
    color: inherit;

    transition: transform .3s linear;
}

.start-btn:hover {
    transform: scale(1.1);
}

.menu__contacts {
    padding: 5px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: flex-end;
}

.contact {
    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
    color: inherit;
    cursor: inherit;
}

/* Game page */

.game {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background: url("../img/bg.png") no-repeat;
    background-size: cover;

    transition: transform .5s linear;

}

.game__interface,
.game__footer {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.game__interface {
    padding: 30px 70px 30px 30px;
    align-items: center;
}

.score {
    display: flex;
    align-items: center;
}

.score-paw {
    margin: 0 0 0 10px;
    display: block;
    width: 30px;
    height: 30px;
}

.game__timer {
    font-size: 100px;
    font-weight: 700;
    opacity: 0;
    color: inherit;

    transition: opacity .5s linear;
}

.game__container {
    width: 1000px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.box {
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
}

.box::after {
    display: block;
    background: url('../img/box.png') bottom center no-repeat;
    background-size: contain;
    content: '';
    width: 100%;
    height: 140px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
}

.cat {
    background: url('../img/game-cat.png') bottom center no-repeat;
    background-size: contain;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}

.box.up .cat {
    top: 0;
}

.btn {
    display: block;

    font-family: inherit;
    font-size: 50px;
    font-weight: 700;
    text-decoration: underline;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: inherit;

    transition: transform .3s linear;
}

.btn:hover {
    transform: scale(1.1);
}

.game__footer {
    margin: 30px 0 0;
    padding: 30px 100px 40px;
    align-items: flex-end;
}

.game__footer .btn {
    font-size: 70px;
}

.game__level {
    font-size: 70px;
    font-weight: 700;
    color: inherit;
}

/* Modal page */

.modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    z-index: 5;
    background: rgba(0, 0, 0, .5);

    transition: transform .7s linear;
}

.modal__content {
    padding: 20px 5px;
    position: relative;
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background: url("../img/bg.png") center center no-repeat;
    border: 3px solid black;
    border-radius: 10px;
}

.modal__img {
    margin: -30px 0 0;
    width: 220px;
    height: 220px;
    background-repeat: no-repeat;
    background-size: cover;
}

.modal__title {
    font-size: 70px;
    text-align: center;
    color: inherit;
}

.close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Arial, sans-serif;
    font-size: 25px;
    border: 2px solid black;
    border-radius: 3px;
    background: maroon;
    color: #b7d3d7;

    transition: transform .5s linear;
}

.close:hover {
    transform: scale(1.1);
}

.show {
    visibility: visible;
}

.error {
    width: 100%;
    height: 100vh;
    border: 5px dashed saddlebrown;
    background-color: burlywood;
    display: none;
    justify-content: center;
    align-items: center;
    color: black;
}

.error__title {
    width: 100%;
    text-align: center;
    font-size: 50px;
}

@media (max-height: 850px) {
    .menu__title {
        font-size: 100px;
    }

    .menu__cat {
        width: 250px;
        height: 250px;
    }

    .score-paw {
        width: 25px;
        height: 25px;
    }

    .game__container {
        width: 800px;
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .box::after {
        background-size: contain;
        width: 100%;
        height: 40%;
        bottom: -20px;
    }

    .game__footer .btn {
        font-size: 50px;
    }

    .game__level {
        font-size: 50px;
    }

    .modal__content {
        width: 480px;
        height: 450px;
    }

    .modal__img {
        margin: -20px 0 0;
        width: 200px;
        height: 200px;
    }

    .modal__title {
        font-size: 50px;
    }

    .modal .btn {
        font-size: 40px;
    }
}

@media (min-width: 2500px) {
    .menu__title {
        font-size: 200px;
    }

    .start-btn {
        margin: 0 auto 50px;
        padding: 10px 50px;
        font-size: 60px;
        letter-spacing: 4px;
        border-radius: 7px;
    }

    .menu__cat {
        width: 400px;
        height: 400px;
    }

    .score-paw {
        margin: 0 0 0 15px;
        width: 35px;
        height: 35px;
    }

    .game__container {
        width: 1200px;
        height: 900px;
    }

    .box::after {
        height: 160px;
        bottom: -35px;
    }

    .game__footer .btn {
        font-size: 100px;
    }

    .game__level {
        font-size: 100px;
    }

    .modal__content {
        height: 650px;
    }
}

@media (max-width: 1400px) {
    /*  уменьшить котов на главной, в игре уменьшить лапки, коробки, котов, уменьшить модалку контент и кота  */
    .menu__cat {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 1100px) {
    .error {
        display: flex;
    }
    .menu {display: none}
    .game {display: none}
    .modal {display: none}
}
